


<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="nahass">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="theme-color" content="#CFEBF3" />
    <meta name="description" content="Tic Tac Boom Version Anime">
    <meta nem="application-name" content="ejejj azleazlkza">

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="home.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <title>Bombanime</title>
</head>



<body>
    
    
    <div id = "app">



        <div id="maindiv">

            <div class="rdiv">
                <img src="down2.png" alt="SHOW">
                <span>REGLES</span>
            </div>

            <div class="rdiv2">
                <img src="down2.png" alt="SHOW">
                <span>REGLES</span>
            </div>


            <p class="waitgametxt">L'HÔTE EDITE LES RÈGLES ...</p>


            <div class="opponentdiv">
                <img class="imgop" src="vs1.png" alt="VERSUS">
                <img class="imgop" src="opponent.png" alt="opponent"> 
                <span> {{opponent}} </span>
                <br>
                <input v-model="opponentres" disabled type="text" class="p2input">


            </div>






            <div class="postnavdiv">

                <img class="closeimg2" src="close.png" alt="X">
                <p class="headsettxt">︲ PARAMETRES ︲</p>

                <div class="subsetdiv rangediv">
                    <p >💣​ TEMPS BOMBE (sec)</p>
                    <hr>
                    <p> {{bombtime}} secondes </p>
                  </div>


                  <div class="subsetdiv themediv">
                    <p>🗒️​ THÈME ACTUEL</p>
                    <hr>
                    
                    <p>{{currenttheme}}</p>

                  </div>
                  


            </div>






            <div class="navdiv">
                <img class="closeimg" src="close.png" alt="X">
                <p class="headsettxt">︲ PARAMETRES ︲</p>


                <div class="subsetdiv rangediv">
                    <p >💣​ TEMPS BOMBE (sec)</p>
                    <hr>
                    <input id="rangeid" class="secrange" type="range" value="5" min="2" max="9">
                    <span id="secvalid" class="secval"> 5 </span>
                  </div>


                  <div class="subsetdiv themediv">
                    <p>🗒️​ CHOIX DU THÈME</p>
                    <hr>
                    
                    <div class="themeop dropdown dropdown-dark">
                        <select name="two" class="cselect dropdown-select">
                            <option selected="selected" value="Naruto">Naruto</option>
                            <option value="One Piece">One Piece</option>
                            <option value="Dragon Ball">Dragon Ball</option>
                            <!-- <option value="Tout">Tout</option> -->
                        </select>
                    </div>

                  </div>


                  <div class="subsetdiv rulediv">
                    <p> RULES </p>
                    <hr>
                    <p> Indique le temps dont chaque joueur dispose pour donner une réponse respectant le thème </p>
                    

                  </div>
                  
                  <button @click="sendGameSetting()" class="subsettingbtn">CONFIRMER</button>


            </div>

            <p class="currentxt"> {{username}} </p>


            <div class="winnerdiv">
                <div class="subwinnerdiv">
                    <img src="crown.png" alt="CROWN">
                    <h2> {{gwinner}} A GAGNÉ </h2>
                    <hr>
                </div>
                
                <button @click="replay()" class="replaybtn"> REJOUER </button>
            </div>


            <div class="bombdiv">
                <img class="bombpic" src="step1.png">
            </div>
            

                <div class="p1div">
                    <input id="p1inputid" disabled v-model="canswer" @keyup.enter = "checkAnswer" autofocus type="text" class="p1input disablemode2">
                    <button @click="checkAnswer()" id="subbtn"> <img width="25" height="20" src="sub.png" alt="VALIDER"> </button>
                </div>    

        
            <img class="soundpic" src="sound.png" alt="SOUND">



            <button @click="exitGame()" class="backigbtn">RETOUR</button>

            
    
        </div> <!-- end main div-->
    




        <audio id="audio1">
            <source src="timer.mp3" type="audio/mp3">
        </audio>

        <audio id="audio2">
            <source src="right2.mp3" type="audio/mp3">
        </audio>

        <audio id="audio3">
            <source src="wrong.mp3" type="audio/mp3">
        </audio>

        <audio id="audio4">
            <source src="explode.mp3" type="audio/mp3">
        </audio>

    </div> <!-- end app div -->

    

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="./app.js"></script>

</body>

</html>