
body{
    overflow-x: hidden;
    background-color: rgb(5, 18, 2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


#maindiv {
    position: absolute;
    background-color: rgba(198, 201, 204, 0.489);
    width: 100vw;
    height: 100vh;
    text-align: center;
    border: 0.3em double rgb(110, 129, 129);
    background-size:cover;
}



.maingame::before {    
  content: "";
  /* background-image: url('back1.jpg'); */
  /* background-size: cover; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(50%);
}


#mainback {
    z-index: -10;
    filter: brightness(80%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btndiv {
    
    position: absolute;
    width: 50%;
    height: fit-content;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    margin: auto;
}

.pbtn {
    width: 60%;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.8em;
    margin: 1em;
    letter-spacing: 0.2em;
    color: #fff;
    border-radius: 0.5em;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(134, 191, 182);
    background: linear-gradient(0deg, rgb(12, 12, 15) 0%, rgb(18, 18, 19) 100%);
    border: 0.5em double rgb(128, 182, 182);

}


.pbtn:hover {
    transform: scale(1.1);
    color:rgb(10, 15, 20);
    background: rgb(67, 67, 89);
    background: linear-gradient(0deg, rgb(228, 234, 240) 0%, rgb(229, 233, 237) 100%);
 }



 @media (max-width:431px) {
    .pbtn {
        width: 100%;
        font-size: 90%;
    }
  }


@media screen and (orientation:landscape) and (max-width:950px)  { 
    .pbtn {
        width: 70%;
        font-size: 90%;
    }
  
  
  }
  


  .usernamediv h2 {
    color:rgb(234, 247, 246);
    text-shadow: rgb(20, 97, 184) 1px 0 10px;  
    word-spacing: 0.2em;
    letter-spacing: 0.12em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
  }


  hr {
    width: 100%;
    color:aliceblue;
    
  }

  #usernameinput {
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    color:darkolivegreen;
    background-color: #e5fff3;
    outline: none;
	  border: 0.2em solid rgb(110, 129, 129);
    padding: 1em;
    text-shadow: rgb(61, 46, 55) 1px 1px 1px;  
    width: 75%;
    height: 80%;
  }



  #subnick{
	min-width: 30%;
	height: 3.5em;
    margin: 1em;
	border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
	border: 3px solid #f8f0f4;
	background-color: transparent;
	text-align: center;
	color: aliceblue;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	cursor:pointer;
    
}

#subnick:hover{
	background-color: #e9dceb;
	color: #100e0e;
}

.errortxt {
    display: none;
    font-size: 1em;
    padding: 0.5em;
    position: absolute;
    color:red;
}


.userdiv {
  display: none;
  position: absolute;
  top:0;
  right: 0;
  margin: 0.6em;
  border-radius: 50%;
}


.userdivhome {
  cursor:pointer;
  background-color: rgb(110, 129, 129 ,0.3);
}


.userdivhome:hover {
  color:#48174f;
  opacity: 0.5;
}




.userdiv img {
  background-color: rgb(110, 129, 129 , 0.6);
  border-radius: 50%;
  width: 10%;
}



.currenthometxt {
  
}

.currentxt {
    display: none;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-shadow: .0.7em .1em 0 hsl(200, 51%, 58%);
}


.usernamediv {
    display: none;
}


@media (max-width:431px) {
  .currentxt {
    font-size: 0.7em;
  }
}


@media screen and (orientation:landscape) and (max-width:950px)  { 
  .currentxt {
    font-size: 0.7em;
  }
  
}


.cjdiv {
    display: none;
}


.creatediv {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    width: fit-content;
    height: fit-content;
    margin:auto;
}


.joindiv {
    display: none;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    width: 30%;
    height: fit-content;
    margin:auto;
    background-color:rgb(220, 220, 220);
    z-index: 90;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(#1b1a1a, .2), 
                2px 2px 17px rgba(#958888, .35), 
                2px 2px 25px rgba(#b3a8a8, .5);
    border-radius:3px;
    outline: 2px solid #39352b96;
    border: 2px solid #ba8c1f96;
    border-radius: 1em;
}


.codetxt {
    color:azure;
    letter-spacing: 0.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: rgb(240, 188, 235) 5px 0 10px;  
}


.startbtn {
    border: none;
    background-color: #fcf0ff;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    margin: 0.5em;
    width: 80%;
    border: 0.2em double rgb(3, 15, 24);
    padding: 0.5em;
    transition: all .2s ease-in;
	  -webkit-transition: all .2s ease-in;
}


.startbtn:hover{
    transform: scale(1.1);
	background-color: #33083a;
	color: #fff8f8;
}


.disablemode {
    pointer-events: none;
    background-color: rgba(70, 103, 126, 0.901);
}

.kickpic {
  width: 7%;
  opacity: 0.7;
}


.kickpic:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}


.waittxt {
    word-spacing: 0.3em;
    color:azure;
    letter-spacing: 0.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
    text-shadow: rgb(200, 214, 2) 1px 0 10px;  
}


.kickdiv {
  display: none;
  
}


.loader {
    margin: 1em;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #12d4c1 #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #26d8db #2488be;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      

 
  .joindiv input {
    margin-top: 2.5em;
    user-select: none;
    margin-bottom: 0.625rem;
    font-weight: 700;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 3px solid rgba(120, 111, 111, 0.373);
    background-color: rgb(255, 255, 255);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    text-align: center;
    width: 80%;
    min-height: 3.8em;
    color: rgb(51, 51, 51);
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #codebtn {
    margin-top: 2em;
    width: 100%;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    background-color:#00000096;
    color: rgb(255, 239, 239);
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
  }


  #codebtn:hover {
    background-color: aquamarine;
    color:#1b1a1a;
  }


  @media (max-width:431px) {
    .joindiv {
        width: 70%;
        
    }

    .joindiv input {
        width: 80%;
    }
  }


@media screen and (orientation:landscape) and (max-width:950px)  { 
    .joindiv {
        width: 40%;
    }

    .joindiv input {
        width: 80%;
    }
    
  }



  .tmpshake {
    animation: shake 0.5s;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  .waitplayerdiv {
    display: none;
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }

  .waitplayerdiv h2 {
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(234, 247, 246);
    text-shadow: rgb(20, 97, 184) 1px 0 10px;  
    word-spacing: 0.2em;
    letter-spacing: 0.12em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
  }

  
  .loader2 {
    margin:1em;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  @keyframes animloader {
    0% {
      border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
      border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
      border-color: white white white rgba(255, 255, 255, 0);
    }
    100% {
      border-color: white white white white;
    }
  } 



  .winnerdiv {
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 101;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    margin: auto;
  }


  .subwinnerdiv {
    animation: winnerT 2s infinite;
  }

  @keyframes winnerT {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.06);
    }

    100% {
      transform: scale(1);
    }
  }


  .winnerdiv h2 {
    color:rgb(234, 247, 246);
    text-shadow: rgb(248, 240, 29) 1px 0 10px;  
    word-spacing: 0.2em;
    letter-spacing: 0.12em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    margin: 0.1em;
  }

  .winnerdiv img {
    transform:rotate(-7deg);
  }


  .backigbtn {
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.8em;
    margin: 0.5em;
    letter-spacing: 0.2em;
    color: aliceblue;
    border-radius: 0.5em;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    background-color: #39134a;
    opacity: 0.7;
    border: 1px solid rgb(60, 80, 80);
  }


  .backigbtn:hover {
    background-color: #4b4545;
    color:aliceblue;
  }

  .replaybtn {
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.8em;
    margin: 1em;
    letter-spacing: 0.2em;
    width: 80%;
    color: #061f17;
    border-radius: 1em;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    background: rgba(189, 245, 237, 0.555);
    border: 1px solid rgb(60, 80, 80);
  }


  .replaybtn:hover {
    background-color: #4b4545;
    color:aliceblue;
  }


  .instapic {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.65;
    margin: 0.5em;
    transition: all .1s ease-in-out;
  }


  .instapic:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }


  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(240, 248, 255, 0.694);
    text-shadow: rgb(20, 97, 184) 1px 0 10px; 
    margin: 0.5em;
  }


  .strikerdiv {
    display: none;
    position: absolute;
    margin: auto;
    bottom: 1em;
    right: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
  }




/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  padding: 0px 20px;
  margin: 0.2em;
  background-color: rgba(39, 52, 52, 0.2);
  color: aliceblue;
  /* position: absolute; */
  border-radius: 9px;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


.blurclass {
  filter: blur(0.35em);
}



.strikerdiv:hover .tooltip{
  visibility: visible;
  opacity: 1;
}



  .striker {
    width: fit-content;
    height: fit-content;
    color:aliceblue;
    font-size: 0.9em;
    text-shadow: rgb(25, 26, 28) 1px 0 10px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  .p1div {
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    bottom: 0;
    right: 0;
    top:50%;
    margin: auto;
    /* margin: 0 auto;  bottom middle without top */ 
  
  }


  .lockpic {
    display: none;
    position: absolute;
    opacity: 0.3;
    transform: rotate(-10deg);
    left:0;
    animation: movelock 0.6s forwards;
  }



  .movelockclass {
    animation: movelock 1s infinite;
  }


  @keyframes movelock {
    0% {
      transform: rotate(-10deg) translateY( -50%);
    }

    100% {
      opacity: 0;
      transform: rotate(-10deg) translateY( -100%);
    }
  }
  


  .logopic {
    position: absolute;
    top:0;
    left:0;
    margin: 0.5em;
    width: 5%;
    height: 10%;
    border-radius: 50px;

    padding: 5px;
  }


  .bombdiv {
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: popbomb 0.2s forwards;
  }


  @keyframes popbomb {
    0% {
      transform: scale(2);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }


  .picpic {
    width: 80%;
    height: 80%;
  }

  .bombpic {
    animation: pulse 0.6s infinite;
  }


  .bombpic2 {
    animation: pulse 0.3s infinite;
  }


  .bombpic3 {
    animation: pulse 0.17s infinite;
  }



  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
  }


  @media (max-width:431px) {
    .bombpic {
      width: 85%;
    }
  }
  
  
  @media screen and (orientation:landscape) and (max-width:950px)  { 
    .bombpic {
      width: 65%;
    }
  }



  #subbtn {
    display: none;
    right: 10%;
    position: absolute;
    background-color: #dfc6c6d2;
    color:black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.6em;
    font-family: 'Courier New', Courier, monospace;
  }

  #subbtn:hover {
    background-color: #2a2626;
    color:aliceblue;
  }


  @media (max-width:431px) {
    #subbtn {
      display:inline;
    }
  }
  
  
  @media screen and (orientation:landscape) and (max-width:950px)  { 
    #subbtn {
      display:inline;
    }
  }


.movebomb {
  animation: moveTurn 1s forwards;
}


.movebomb2 {
  animation: moveTurn2 1s forwards;
}


@keyframes moveTurn {
  0% {
    transform: translateY(-3em);
  }

  100% {
    transform: translateY(3em);
  }
}


@keyframes moveTurn2 {
  0% {
    transform: translateY(3em);
  }

  100% {
    transform: translateY(-3em);
  }
}



  .turnclass {
    /* animation: turn 0.5s forwards; */
  }


  @keyframes turn {
    0% {
      
    }

    100% {
      transform: rotate(130deg)
    }
  }


/* reset input */

.p0input {
  width: 70%;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 0;
  font-weight: 600;
  text-shadow: .0.7em .1em 0 hsl(195, 10%, 8%);
  border-bottom: 0.05em solid rgba(240, 248, 255, 0.591);
  color:rgba(224, 203, 203, 0.694);
  outline: 0;
  font-size: 1.5rem;
  color: rgb(179, 241, 247);
  padding:1em 0.7em 0.7em 1em;
  background-color: transparent;
}


.p1input{
  width: 70%;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 0;
  font-weight: 600;
  text-shadow: .0.7em .1em 0 hsl(195, 10%, 8%);
  border-bottom: 0.05em solid rgba(240, 248, 255, 0.591);
  color:rgba(224, 203, 203, 0.694);
  outline: 0;
  font-size: 1.5rem;
  color: rgb(179, 241, 247);
  padding:1em 0.7em 0.7em 1em;
  background-color: transparent;
}


.pulseclass {
  animation: pulse-black 0.4s ease-in-out;
}


@keyframes pulse-black {
	0% {
    opacity: 1;
    -moz-box-shadow: 0 0 0 5px rgba(204,169,44, 0);
      box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
  
  60% {
    
    -moz-box-shadow: 0 0 0 0 rgba(147, 245, 76, 0.813);
    box-shadow: 0 10px 70px 0px rgba(147, 245, 76, 0.813);
  }
  100% {
    opacity: 0;
    -moz-box-shadow: 0 0 0 5px rgba(204,169,44, 0);
      box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
}


/* .p1input:focus {
  animation: extend 0.2s forwards;
}


@keyframes extend {
  0% {
     width: 70%;
  }

  100% {
    width: 75%;
  }
} */



.p2input{
  width: 65%;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 0;
  font-weight: 600;
  text-shadow: .0.7em .1em 0 hsl(195, 10%, 8%);
  border-bottom: 0.05em solid rgb(143, 226, 237 , 0.5);
  outline: 0;
  font-size: 1.2rem;
  color: rgb(188, 239, 239 , 0.7);
  padding:1em 0.7em 0.7em 1em;
  background-color: transparent;
}


.disablemode2 {
  pointer-events: none;
  opacity: 0.5;
}


@media (max-width:431px) {
  
}


@media screen and (orientation:landscape) and (max-width:950px)  { 
  .p1input {
    width: 70%;
    font-size: 1.2rem;
    padding:1em 0.7em 0.7em 1em;
  }
}



/* side menu */




.navdiv {
  display: none;
  position: absolute;
  z-index: 99;
  width: 20%;
  height: 100%;
  background-color: #1b1a1a;
  text-align: center;
  overflow-y:auto;
  scrollbar-color: red;
}

.navdiv::-webkit-scrollbar {
  background-color: rgb(20, 20, 20);
  width: 5px;
} 

.navdiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: rgb(245, 235, 235);
}

.postnavdiv {
  display: none;
  position: absolute;
  z-index: 99;
  width: 20%;
  height: 100%;
  background-color: #1b1a1a;
  text-align: center;
}


.rdiv2 {
  display: none;
  width: fit-content;
  opacity: 0.6;
  cursor: pointer;
  padding: 0.5em;
  background-color: #39134a;
  border-top: 1px solid aliceblue;
  border-radius: 5px;
  position: absolute;
  left: 0;
  margin: 0.5em;
}

.rdiv2:hover {
  opacity: 0.9;
}

.rdiv2 span {
  color:azure;
}

.rdiv2 img {
  width: 1em;
  height: 1em;
}


.rdiv {
  display: none;
  width: fit-content;
  opacity: 0.6;
  cursor: pointer;
  padding: 0.5em;
  background-color: #39134a;
  border-top: 1px solid aliceblue;
  border-radius: 5px;
  position: absolute;
  left: 0;
  margin: 0.5em;
}

.rdiv:hover {
  opacity: 0.9;
}

.rdiv span {
  color:azure;
}

.rdiv img {
  width: 1em;
  height: 1em;
}

.postnavdiv img {
  position: absolute;
  right: 0;
  margin: 0.5em;
  opacity: 0.5;
  width: 9%;
  transition: all .2s ease-in-out;
}

.postnavdiv img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navdiv img {
  position: absolute;
  right: 0;
  margin: 0.5em;
  opacity: 0.5;
  width: 9%;
  transition: all .2s ease-in-out;
}

.navdiv img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.headsettxt {
  color:rgb(202, 245, 245);
  margin: 2em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: .0.7em 1em 1em hsl(193, 100%, 98%);
  letter-spacing: 0.3em;
  
}




.secrange {
  margin: 0.2em;
  border-radius: 5px;  
  outline: none;
  opacity: 0.9;
}

.secrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(170, 31, 202)
  
}


.secrange::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #aca0b1;
  border-radius: 1em;
}





.secval {
  color:aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}


.rangediv {
  padding: 1em;
  letter-spacing: 0.1em;
  background-color:rgba(71, 28, 92, 0.2);
}


.rangediv hr {
  width: 70%;
  margin-left:15%;
}



.rangediv p {
  font-family: 'Courier New', Courier, monospace;
  color:aliceblue;
}


.themediv {
  margin-top:1em;
  padding: 1em;
  letter-spacing: 0.1em;
  background-color:rgba(71, 28, 92, 0.2);
}

.rulediv {
  margin-top:1em;
  padding: 1em;
  letter-spacing: 0.1em;
  background-color:rgba(71, 28, 92, 0.2);
  
}


.rulediv hr {
  width: 70%;
  margin-left:15%;
}


.rulediv p {
  font-family: 'Courier New', Courier, monospace;
  color:aliceblue;
}



.themediv hr {
  width: 70%;
  margin-left:15%;
}


.themediv p {
  font-family: 'Courier New', Courier, monospace;
  color:aliceblue;
}


.themeop {
  margin: 1em;
  overflow: hidden;
}



.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}


.dropdown-select {
  padding: 0.1em;
  color: #30383d;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  border: none;
  outline: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 5px;
  text-overflow: '';
  
}




optgroup {
  color: #a6d4f1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #170520e4;
  padding: 1em;
  border: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  /* outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px; */
  
}

.dropdown-select > option {
  padding: 1em;
  text-shadow: none;
  background: #2a2626;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:aliceblue;
  border-radius: 3px;
  cursor: pointer;
}


select::-ms-expand { 
  display: none; /* remove default arrow on ie10 and ie11 */
}



.subsettingbtn {
  bottom: 0;
  left: 0;
  background-color: #d8bebe9a;
  width: 100%;
  height: 4em;
  border: 2px solid rgb(208, 162, 215);
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 0.1em;
  transition: all 0.1s ease-in-out;
}


.subsettingbtn:hover {
  background-color: #2c0836;
  color:aliceblue;
}




@media (max-width:431px) {
  .navdiv {
    width: fit-content;
    height: 100%;
  }
  .postnavdiv {
    width: fit-content;
    height: 100%;
  }
  .rulediv {
    display: none;
  }
}


@media screen and (orientation:landscape) and (max-width:950px)  { 
 .navdiv {
    height: 100%;
    width: fit-content;
    overflow-y:auto
  }
  .postnavdiv {
    height: 100%;
    width: fit-content;
    overflow-y:auto
  }
  .rulediv {
    display: none;
  }

  .subsettingbtn {
    position: unset;
  }

}



.p2turn {
  transform: scaleX(-1)
}


.p1turn {
  transform: scaleX(-1);
}



.opponentdiv {
  display: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top:5%;
  left:0;
  right: 0;
  margin: auto;
}


.imgop {
  width: 90px;
  height: 90px;
}


.opponentdiv span {
  margin: 0.5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}



@media (max-width:431px) {
  .opponentdiv {
    top:9%;
  }

  .opponentdiv img {
    width: 60px;
    height: 60px;
  }
}


@media screen and (orientation:landscape) and (max-width:950px)  { 
    .opponentdiv img {
      width: 50px;
      height: 50px;
    }

}



.waitgametxt {
  display: none;
  position: absolute;
  left:0;
  margin: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  border-bottom: 1px solid black;
  background-color: rgba(144, 196, 196, 0.4);
}



.soundpic {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.5em;
  height: 2.5em;
  margin: 2em;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 50%;
}

.soundpic:hover {
  background-color: rgb(110, 129, 129 );
  opacity: 0.9;
}



.returnjoinbtn {
  position: absolute;
  top:0;
  left: 0;
  margin: 1em;
  background-color: #fe9fe9;
  opacity: 0.6;
  border-radius: 3px;
  border: 1px solid aliceblue;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #0f1112;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.15385;
  padding: 0.5em;
}


.returnjoinbtn:hover {
  opacity: 1;
  transform: scale(1.05);
}
































@media (max-width:431px) {
  .bombpic {
    width: 85%;
  }

  .p1div {
    top:60%;
    
  }


  @keyframes moveTurn {
    0% {
      transform: translateY(-3em);
    }
  
    100% {
      transform: translateY(7em);
    }
  }
  
  
  @keyframes moveTurn2 {
    0% {
      transform: translateY(3em);
    }
  
    100% {
      transform: translateY(-7em);
    }
  }


}


@media screen and (orientation:landscape) and (max-width:950px)  { 
  #subbtn {
    right: -2em;
    width: 15%;
    height: fit-content;
  }

  .strikerdiv {
    margin: none;
    left:auto;
    top:10%;
    bottom:auto ;
    width: fit-content;
    height: fit-content;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
  }
}




.container {
  position: absolute ;
  top:0;
  bottom: 7%;
  right: 0;
  left: 0;
  margin: auto;
}

.playerdiv {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}


.p0input {
  width: 9em;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: .0.7em .1em 0 hsl(195, 10%, 8%);
  color:rgba(224, 203, 203, 0.694);
  outline: 0;
  font-size: 1.2rem;
  color: rgb(179, 241, 247);
  padding:1em 0.7em 0.7em 1em;
}


.ptxt {
  position: absolute;
  top:-40%;
  font-family: Arial, Helvetica, sans-serif;
  color:aliceblue;
  text-shadow: rgb(52, 7, 47) 5px 0 10px;  
  text-transform: uppercase;
  font-size: 90%;
}

.turnpic {
  display: none;
  width: 30px;
  height: 30px;
  animation: turnF .7s infinite;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}


@keyframes turnF {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }

}


.tmpinputclass {

}

.tmplockclass {

}

.tmpturnclass {

}


.pindex0 {
}

.pindex1 {
}

.pindex2 {
}

.pindex3 {
}

.pindex4 {
}

.pindex5 {
}

.pindex6 {
}

.pindex7 {
}

.pindex8 {
}

.pindex9 {
}



.turnpic0 {
}

.turnpic1 {
}

.turnpic2 {
}

.turnpic3 {
}

.turnpic4 {
}

.turnpic5 {
}

.turnpic6 {
}

.turnpic7 {
}

.turnpic8 {
}

.turnpic9 {
}

