
body{
    overflow-x: hidden;
    background-color: rgb(5, 18, 2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


#maindiv {
    position: absolute;
    background-color: rgb(148, 176, 199);
    width: 100vw;
    height: 100vh;
    text-align: center;
    border: 0.3em double rgb(110, 129, 129);
    background-size:cover;
}


#mainback {
    z-index: -10;
    filter: brightness(30%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btndiv {
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    margin: auto;
}

.pbtn {
    width: 100%;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.8em;
    margin: 1em;
    letter-spacing: 0.2em;
    color: #fff;
    border-radius: 0.5em;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(134, 191, 182);
    background: linear-gradient(0deg, rgb(12, 12, 15) 0%, rgb(18, 18, 19) 100%);
    border: 0.5em double rgb(128, 182, 182);

}


.pbtn:hover {
    transform: scale(1.1);
    color:rgb(10, 15, 20);
    background: rgb(67, 67, 89);
    background: linear-gradient(0deg, rgb(228, 234, 240) 0%, rgb(229, 233, 237) 100%);
 }



 @media (max-width:431px) {
    .pbtn {
        font-size: 90%;
    }
  }